.assignment-expression {
}

.assignment-pattern {
}

.array-expression {
}

.array-pattern {
}

.arrow-function-expression {
}

.block-statement {
}

.binary-expression {
}

.break-statement {
}

.call-expression {
}

.catch-clause {
}

.class-body {
}

.class-declaration {
}

.class-expression {
}

.conditional-expression {
}

.continue-statement {
}

.do-while-statement {
}

.debugger-statement {
}

.empty-statement {
}

.export-all-declaration {
}

.export-default-declaration {
}

.export-named-declaration {
}

.export-specifier {
}

.expression-statement {
}

.for-statement {
}

.for-of-statement {
}

.for-in-statement {
}

.function-declaration {
}

.function-expression {
}

.if-statement {
}

.import-declaration {
}

.import-default-specifier {
}

.import-namespace-specifier {
}

.import-specifier {
}

.labeled-statement {
}

.logical-expression {
}

.member-expression {
}

.meta-property {
}

.method-definition {
}

.new-expression {
}

.object-expression {
}

.object-pattern {
}

.program {
}

.property {
}

.rest-element {
}

.return-statement {
}

.sequence-expression {
}

.spread-element {
}

.super {
}

.switch-case {
}

.switch-statement {
}

.tagged-template-expression {
}

.template-literal {
}

.this-expression {
}

.throw-statement {
}

.try-statement {
}

.unary-expression {
}

.update-expression {
}

.variable-declaration {
}

.variable-declarator {
}

.while-statement {
}

.with-statement {
}

.yield-expression {
}

.identifier {
  font-weight: bold;
}

.template-element {
  background-color: cyan;
  color: purple;
}

.literal {
  color: red;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-family: sans-serif;
}

#container {
  text-align: left;
  margin: 0 auto;
  max-width: 724px;
}
